@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'League Spartan', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1C1C1C;
  color: #FFFFFF;
  min-height: 100vh;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-spartan {
  font-family: 'League Spartan', sans-serif;
}

#root {
  min-height: 100vh;
}
